*~
*.riscv
*.host
*.o
*.dump
*.out
*.hex
.*.swp
*.pyc
/autom4te.cache
/Makefile
/config.log
/config.status
/build

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

